.balinex-cont {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bal-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  height: 50px;
  width: 50px;
  margin-right: 40px;
}
.bal-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede9fe;
  border-radius: 10px;
  height: 150px;
  width: 300px;
  margin-right: 50px;
  border: solid 1px #cbd5e1;
}
.inc-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cffafe;
  border-radius: 10px;
  margin-right: 50px;
  height: 150px;
  width: 300px;
  border: solid 1px #06b6d4;
}
.exp-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #cbd5e1;
  width: 300px;
  height: 150px;
  border: solid 1px #475569;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  margin-right: 40px;
}
.info-cont {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.info-text {
  font-size: 15px;
}
.amt-text {
  font-size: 25px;
}
.text-cont {
  display: flex;
}
